<div class="description-body">
  <!-- Start Resume Section -->

  <div class="row about-body">
    <div class="class-lg-12 about-body-heading">
      <h5><strong style="color: #78cc6d; margin-right: 3px">R</strong>esume</h5>
    </div>
  </div>
  <div class="row about-description">
    <!--Start Experience section -->
    <div class="col-lg-6 about-context">
      <div class="resume-title border-line-h">
        <div class="resume-subtitle">
          <div class="icon"><i class="fa fa-briefcase fa-2x"></i></div>
          <div class="name">Experience</div>
        </div>

        <div class="resume-items">
          <div class="resume-item border-line-h active">
            <div class="date">2021 - Present</div>
            <div class="profile-name">
              Analysis Programmer<i
                class="fa fa-laptop fa-lg"
                style="margin-left: 10px"
                aria-hidden="true"
              ></i>
            </div>
            <div class="company">xceedance consulting india pvt ltd.</div>
            <p>
              Collaborate with creative and development teams on the execution
              of ideas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Experience Section -->
    <!-- Start Education Section -->
    <div class="col-lg-6 about-context">
      <div class="resume-title border-line-h">
        <div class="resume-subtitle">
          <div class="icon"><i class="fa fa-pencil fa-2x"></i></div>
          <div class="name">Internship</div>
        </div>

        <div class="resume-items">
          <div class="resume-item border-line-h active">
            <div class="date">2018 - 2021</div>
            <!-- <div class="profile-name">Analysis Programmer<i class="fa fa-laptop fa-lg" style="margin-left: 10px;" aria-hidden="true"></i></div> -->
            <!-- <div class="company">xceedance consulting india pvt ltd.</div> -->
            <p>
              Collaborate with creative and development teams on the execution
              of ideas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Education Section -->
  </div>
  <div class="row about-description">
    <!-- Start Skill-FrontEnd Section -->
    <div class="col-lg-6 about-context">
      <div class="resume-title border-line-h">
        <div class="resume-subtitle">
          <div class="icon">
            <i class="fa fa-university fa-2x" aria-hidden="true"></i>
          </div>
          <div class="name">Education</div>
        </div>

        <div class="resume-items">
          <div class="resume-item border-line-h active">
            <div class="date">2017 - 2021</div>
            <div class="profile-name">
              Bachelor of Technology<i
                class="fa fa-book fa-lg"
                style="margin-left: 10px"
                aria-hidden="true"
              ></i>
            </div>
            <div class="company">
              Bansal College of Engineering, Bhopal M.P. India
            </div>
            <p>
              Collaborate with creative and development teams on the execution
              of ideas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Skill-FrontEnd Section -->
    <div class="col-lg-6 about-context">
      <div class="resume-title border-line-h">
        <div class="resume-subtitle">
          <div class="icon">
            <i class="fa fa-university fa-2x" aria-hidden="true"></i>
          </div>
          <div class="name">Education</div>
        </div>

        <div class="resume-items">
          <div class="resume-item border-line-h active">
            <div class="date">2017 - 2015</div>
            <div class="profile-name">
              higher secondary<i
                class="fa fa-book fa-lg"
                style="margin-left: 10px"
                aria-hidden="true"
              ></i>
            </div>
            <div class="company">S.V.M Inter School, Hamirpur U.P. India</div>
          </div>
          <div class="resume-item border-line-h active">
            <div class="date">2014 - 2015</div>
            <div class="profile-name">
              senior secondary<i
                class="fa fa-book fa-lg"
                style="margin-left: 10px"
                aria-hidden="true"
              ></i>
            </div>
            <div class="company">
              Acharya ss Gautam HSS Pandhari Hamirpur, U.P. India
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Resume Section -->
</div>
