<div class="description-body">
  <!-- Start About Me Section -->
  <div class="row about-body">
    <div class="class-lg-12 about-body-heading">
      <h5 style="letter-spacing: 1px">
        <strong style="color: #78cc6d; margin-right: 3px">About</strong>Me
      </h5>
    </div>
  </div>
  <div class="row about-description">
    <div class="col-lg-6 about-context">
      <p>
        I am Ryan Adlard, web designer from USA, California. I have rich
        experience in web site design and building and customization, also I am
        good at wordpress. I love to talk with you about our unique.
      </p>
    </div>
    <div class="col-lg-6 about-details">
      <ul>
        <li><strong>Age . . . . .</strong> 23</li>
        <li><strong>Residence . . </strong>Gurugram, India</li>
        <li><strong>Profile . .</strong> Programmer</li>
        <li><strong>Address . . . . .</strong> Hamirpur, U.P</li>
      </ul>
    </div>
  </div>
  <!-- End About Me Section -->
</div>
