.description-body {
    margin: 10px 10px;
    padding: 0px;
}
.about-body {
    border-bottom: 1px solid #ccc9c9;
    padding-bottom: 20px;
}
.about-body-heading {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}
.about-body div h5 {
    margin-left: 8px;
    text-transform: uppercase;
}
.about-description {
    margin: 30px 0px 0px 0px ;
}
.about-context {
    border-right: 1px solid #ccc9c9;
}
.about-context p {
    font-weight: 400;
    text-align: center;
}
.about-details {
    margin-left: -30px;
}
.about-details ul {
    list-style: none;
}
.about-details ul li {
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.about-details ul li strong{
    background-color: #78cc6d;
    padding: 0px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
}

/* Services */
.service-card-1 {
    text-align: center;
    padding: 40px;
    border-right: 1px solid #ccc9c9;
    margin-top: 30px;
}
.service-card-1 a {
    color: #fff;
    background-color: #78cc6d;
    padding: 20px;
    border-radius: 50px;
}
.service-card-1 h5 {
    margin-top: 25px;
    text-transform: capitalize;
}
.service-card-1 p {
    font-size: small;
}
.service-card-2 {
    text-align: center;
    padding: 40px;
    margin-top: 30px;
}
.service-card-2 a {
    color: #fff;
    background-color: #78cc6d;
    padding: 20px;
    border-radius: 50px;
}
.service-card-2 h5 {
    margin-top: 25px;
    text-transform: capitalize;
}
.service-card-2 p {
    font-size: small;
}
.service-cards-row-2 {
    padding: 30px;
    margin: 30px;
    border: 1px solid #ccc9c9;
    margin-top: 30px;
    text-align: center;
    border-radius: 8px;
    box-shadow: -5px 3px 5px 0px #ccc9c9;
}
.service-card-col {
    border-right: 1px solid #ccc9c9;
}
.service-card-col a{
    color: #fff;
    background-color: #78cc6d;
    padding: 20px;
    border-radius: 50px;
}
.service-card-col h5 {
    margin-top: 20px;
}
.service-card-col-2 p {
    font-size: small;text-align: left;
}
