<div class="description-body">
  <!-- Start About Me Section -->
  <div id="about-section">
    <div class="row about-body">
      <div class="class-lg-12 about-body-heading">
        <h5 style="letter-spacing: 1px">
          <strong style="color: #78cc6d; margin-right: 3px">About</strong>Me
        </h5>
      </div>
    </div>
    <div class="row about-description">
      <div class="col-lg-6 about-context">
        <p>
          I am Kishan Nigam from India, Gurugram. I'm a passionate and highly
          skilled website designer, specializing in the AngularJs Framework,
          HTML, CSS and SQL database programmming. With a strong focus on
          creating dynamic, responsive websites.
          <!-- My expertise lies in developing intuitive interfaces,
        integrating database seamlessly, and crafting visually appealing designs. With a keen eye for aesthetics and a deep 
        understanding of web technologies,  -->
        </p>
      </div>
      <div class="col-lg-6 about-details">
        <ul>
          <li><strong>Age . . . . .</strong> 23</li>
          <li><strong>Residence . . </strong>Gurugram, India</li>
          <li><strong>Profile . .</strong> Programmer</li>
          <li><strong>Address . . . . .</strong> Hamirpur, U.P</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End About Me Section -->

  <!-- Start My Services Section -->
  <div id="services-section">
    <div class="row about-body">
      <div class="class-lg-12 about-body-heading">
        <h5 style="letter-spacing: 1px">
          <strong style="color: #78cc6d; margin-right: 3px">My</strong>Services
        </h5>
      </div>
    </div>
    <div class="row service-cards">
      <div class="col-lg-6 service-card-1">
        <a href=""><i class="fa fa-code fa-lg" aria-hidden="true"></i></a>
        <h5>Web Development</h5>
        <p>
          I can develop frontend websites using Angular Framework, ensuring
          optimal performance, scalability, and user experience.
        </p>
      </div>
      <div class="col-lg-6 service-card-2">
        <a href=""><i class="fa fa-paint-brush" aria-hidden="true"></i></a>
        <h5>Web Design</h5>
        <p>
          I have a deep understanding of HTML and CSS, enabling I to create
          visually appealing and responsive designs that adapt to different
          devices and screen sizes.
        </p>
      </div>
    </div>

    <div class="row service-cards-row-2">
      <div class="col-lg-4 service-card-col">
        <a href=""><i class="fa fa-code fa-lg" aria-hidden="true"></i></a>
        <h5>SQL Database Management</h5>
      </div>
      <div class="col-lg-8 service-card-col-2">
        <p>
          I know intermediate-level proficiency in SQL server database
          programmming, I'm adapt at managing and working with database. I have
          skilled in designing database structures, stored procedure and writing
          SQL queries for data retrieval and manipulation, and ensuring data
          integrity. I possess a solid understanding of database administration
          tasks, including creating tables, defining relationships, and
          optimizing queries for improved performance.
        </p>
      </div>
    </div>
  </div>
  <!-- End My Services Section -->
</div>
