<div class="profile-card">
	<div class="profile-card-header">
		<div class="profile-image"></div>

		<div class="profile-info">
			<h3 class="profile-name">Kishan Nigam</h3>
			<p class="profile-desc">Website Designer | Devloper </p>
		</div>
	</div>

	<div class="profile-card-body">
		<ul class="status">
			<li>
				<a href="https://github.com/KishanNigam" target="_blank" class="icon"><i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
			</li>

			<li>
				<a href="https://linkedin.com/in/kishan%20nigam" target="_blank" class="icon"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a>
			</li>

			<li>
				<a href="" target="_blank" class="icon"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
			</li>
		</ul>

		
	</div>
    <div class="action">
        <a href="" class="btn1">Contact Me</a>
        <div class="border"></div>
        <a href="" class="btn2">Download CV</a>
    </div>
</div>